.DS_Store
node_modules/
npm-debug.log
bower_components/
coverage/
.sass-cache/
cordova/www
cordova/platforms/*
cordova/plugins/*
cordova/build.json
UserInterfaceState.xcuserstate
.tmp/
dist/
*.swp
*.swo
generated/
ipa
apk
